# Python
backend/venv/
backend/**/__pycache__/
*.pyc

# Django
backend/media/
backend/staticfiles/

# Node
frontend/node_modules/
frontend/dist/

# Environment
frontend/.env
frontend/.env.production
backend/.env

# VS Code
.vscode/

# Backup files
*.save

# OS
.DS_Store
Thumbs.db
